<div class="platform-games-container">
  <header class="platform-header">
      <svg class="title-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
        <path [attr.d]="getPlatformIcon(platformType)"/>
      </svg>
    <h1>Juegos para {{ platformName }}</h1>
  </header>

  @if (games.length > 0) {
    <div class="games-grid">
      @for (game of games; track game.id) {
        <app-game-card [game]="game" (click)="openGameModal(game.id)"></app-game-card>
      }
    </div>

    <!-- Basic pagination example -->
    <div class="pagination">
      <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 0">Anterior</button>
      <span>Página {{ currentPage + 1 }}</span>
      <button (click)="onPageChange(currentPage + 1)" [disabled]="games.length < pageSize">Siguiente</button>
    </div>
  } @else {
    <div class="no-games-found">
      <p>No se encontraron juegos para esta plataforma.</p>
    </div>
  }
</div>
