.nav-link {
  color: var(--text-secondary);
  text-decoration: none;
  font-weight: 500;
  font-size: 0.95rem;
  padding: 8px 16px;
  border-radius: 20px;
  transition: all 0.3s ease;
  border: 1px solid transparent;
  cursor: pointer;
}

.nav-link:hover {
  color: var(--text-main);
  background: var(--bg-card-hover);
  border-color: var(--border-hover);
}

.profile-dropdown {
  position: relative;
  display: inline-block;
}

.profile-button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 15px;
  font-size: 0.95rem;
  font-weight: 600;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid var(--border-light);
  background: var(--bg-card-hover);
  color: var(--text-main);
}

.profile-button:hover {
  background: rgba(255, 255, 255, 0.2);
  border-color: var(--border-hover);
}

.profile-icon {
  width: 20px;
  height: 20px;
  color: var(--primary-color);
}

.username {
  font-weight: bold;
}

.dropdown-arrow {
  width: 16px;
  height: 16px;
  transition: transform 0.3s ease;
}

.dropdown-arrow.rotated {
  transform: rotate(180deg);
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background: rgba(15, 32, 39, 0.95);
  backdrop-filter: blur(10px);
  border: 1px solid var(--border-light);
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  padding: 0.5rem 0;
  min-width: 160px;
  z-index: 1001;
  display: flex;
  flex-direction: column;
}

.dropdown-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  background: none;
  border: none;
  color: var(--text-secondary);
  text-align: left;
  cursor: pointer;
  transition: background-color 0.2s;
  text-decoration: none; /* Añadido para quitar subrayado */
}

.dropdown-item:hover {
  background-color: var(--bg-card-hover);
  color: var(--text-main);
}

.dropdown-icon {
  width: 18px;
  height: 18px;
  color: var(--text-muted);
}

.auth-button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 20px;
  font-size: 0.95rem;
  font-weight: 600;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid transparent;
}

.auth-icon {
  width: 18px;
  height: 18px;
}

.auth-button.login {
  background-color: var(--primary-color);
  color: var(--text-main);
}

.auth-button.login:hover {
  background-color: var(--primary-hover);
}
